<div class="card rounded-5 shadow m-5" style="width: 38rem; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">
    <div class="card-body d-flex justify-content-between m-2">
        <div class="d-flex flex-column justify-content-between">
            <div>
                <h2 class="card-title">{{ nombre }}</h2>
                <p class="card-text text-secondary">Automatic/Manual</p>
            </div>
            <div>
                <button type="button" class="btn btn-dark rounded-4"><h4 class="m-0 p-1">${{ precio }}<span style="font-size: 15px;">/day</span></h4></button>
            </div>
        </div>
        <div>
            <img src="coche_1.png" style="width: 500px;" class="coche" alt="Coche rojo">
        </div>
    </div>
</div>
