.fondoCampo{
    background-image: url('https://acortar.link/vXslG5');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.tipografia{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif !important;
}