<div class="card border-0 mx-3 my-4" style="width: 350px;">  
  <!--Parte superior-->
  <div class="container d-flex justify-content-center card-body rounded-4 mt-1 px-2">
    <div class="ms-2 text-center">
        <h4 class="card-title text-dark m-0 text-capitalize tipografia fw-bold">{{ pokemon!.name }}</h4>
    </div>
  </div>

  <!--Parte inferior-->
  <div class="border-5 tipoDominante rounded-4 border-dark shadow fondoCampo">
    <a><img [src]="pokemon!.sprites.front_default" class="card-img-top rounded-4" [alt]="pokemon!.name"/></a>
  </div>

  <!--Estadísticas-->
  <div class="mt-3 d-flex justify-content-around">
    <h5 class="fw-bold"><span class="text-success">PS:</span> {{ pokemon!.stats[0].base_stat }}</h5>
    <h5 class="fw-bold"><span class="text-danger">ATK:</span> {{ pokemon!.stats[1].base_stat }}</h5>
    <h5 class="fw-bold"><span class="text-primary">DEF:</span> {{ pokemon!.stats[2].base_stat }}</h5>
  </div>

  <!--Botón de ataque-->
  <div class="mt-2 d-flex justify-content-center">
    <button type="button" class="btn btn-danger w-50">
      <h5 class="tipografia fw-bold m-0">ATACAR</h5>
    </button>
  </div>